/* .. estilos del nav .. */

nav .nav-link{
  padding: 10px 16px;
  font-size: 16px;
  background-size: black;
}

.navbar-nav { 
  gap: 50px;
}

nav img {
  max-height: 100px;
  object-fit: contain;
}

.nav2:hover {
  background:  #0e293a;
  color: #ffffff !important;
  border-radius: 10px;
}

.nav2 i {
  font-size: 25px;
  margin-right: 8px;
}

.logo6{
    left: 2%;
}

/* .. final de estilos del nav .. */

/* Estilos card */
.botonCard {
    background-color: #0e293a;
    color: white;
    border-radius: 10px;    
}

.cardEquipo {
    margin-left: 10px;
    margin-r
}
/* Fin estilos card */