
















































































.botonCard {
    background-color: #000b70da;
    color: white;
    border-radius: 10px;    
}

.cardEquipo {
    margin-left: 10px;
    margin-r
}